.container {
	
	background-color: white;
	font-family: Lucida Sans Unicode, Lucida Grande, Sans-Serif;
}
body {
	background-color: #FFFFFF;

}
.login-signup-words {
	color: white;
}
.navbar { 
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 16%, #207cca 16%, #2989d8 50%, #3c89c9 72%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 16%,#207cca 16%,#2989d8 50%,#3c89c9 72%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#207cca 16%,#207cca 16%,#2989d8 50%,#3c89c9 72%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.panel {
	background-color: #357A5E;
}

.data-key {

	color: gray;
}
.Collection-Input {
	float: left;
}
.hide-true {
	display: none;
}
.row {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+16,207cca+16,2989d8+50,3c89c9+72,7db9e8+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 16%, #207cca 16%, #2989d8 50%, #3c89c9 72%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 16%,#207cca 16%,#2989d8 50%,#3c89c9 72%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#207cca 16%,#207cca 16%,#2989d8 50%,#3c89c9 72%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

.text-center .banner {
	background-color: red;
}


.h {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+16,207cca+16,2989d8+50,3c89c9+72,7db9e8+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 16%, #207cca 16%, #2989d8 50%, #3c89c9 72%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 16%,#207cca 16%,#2989d8 50%,#3c89c9 72%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#207cca 16%,#207cca 16%,#2989d8 50%,#3c89c9 72%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
color: white;
font-size: 100px;
	
  
/*   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;*/
}

.welcome-info-tag {
	color: #000000;
	border-top: 1px solid;
	padding: 15px;
	text-align: center;
}

.tabTitle{
	margin-right:10px;
	font-weight: bold;
}

.text-center {
	font-size: 30px;
	font-style: serif;
}

.tab{
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #00327A;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tab #active{
	border-bottom: none;
}

.active {
	color:red;
}

.nav-link {
	display: inline;
	padding-left: 50px;
	padding-right: 20px;
}
.btn-group {
	margin-bottom: 10px;
}


.btn-default {
	font-size:20px;
	font-weight: 900;
	color: #F2F2F2;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 16%, #207cca 16%, #2989d8 50%, #3c89c9 72%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 16%,#207cca 16%,#2989d8 50%,#3c89c9 72%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#207cca 16%,#207cca 16%,#2989d8 50%,#3c89c9 72%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.tabs {
	font-weight: 40;
	margin-top: 20px;
	margin-left: 10px;

	color: #286090;
	background-color: white;
	font-size: 17px;
	font-style: Sans-Serif;
}

.tabs .btn .btn-primary .info {
	color: black;
}

.tab-button { 
  color: #ffffff; 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.tab-button:hover, 
.tab-button:focus, 
.tab-button:active, 
.tab-button.active, 
.open .dropdown-toggle.tab-button { 
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #130269; 
} 
 
.tab-button:active, 
.tab-button.active, 
.open .dropdown-toggle.tab-button { 
  background-image: none; 
} 
 
.tab-button.disabled, 
.tab-button[disabled], 
fieldset[disabled] .tab-button, 
.tab-button.disabled:hover, 
.tab-button[disabled]:hover, 
fieldset[disabled] .tab-button:hover, 
.tab-button.disabled:focus, 
.tab-button[disabled]:focus, 
fieldset[disabled] .tab-button:focus, 
.tab-button.disabled:active, 
.tab-button[disabled]:active, 
fieldset[disabled] .tab-button:active, 
.tab-button.disabled.active, 
.tab-button[disabled].active, 
fieldset[disabled] .tab-button.active { 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 










